@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  line-height: normal;
  scroll-timeline: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  -moz-font-smoothing: antialiased;
  scroll-behavior: smooth !important;
  background-color: rgb(255, 255, 255);
  -webkit-tap-highlight-color: transparent;
}

button {
  width: auto;
  display: flex;
  gap: 12px;
  color: aliceblue;
  border-radius: 5px;
  text-align: center;
  align-items: center;
  padding: 12px 24px;
  background-color: #000;
}

input,
textarea,
select {
  width: 100% !important;
  font-size: 14px;
  font-weight: 400;
  padding: 18px 14px;
  display: block;
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  border-radius: 7px;
  color: rgb(53, 61, 66);
  border: 1px solid #dddddd;
  background-color: transparent !important;
  box-sizing: border-box;
}

textarea {
  min-height: 150px;
}

input::placeholder {
  color: #111232 !important;
  background-color: transparent !important;
  opacity: 0.5;
  font-weight: 400;
}

.confetti {
  position: absolute;
}

.confetti img {
  width: 80px;
}

.confetti_1 {
  top: 5%;
  left: 28% !important;
}

.confetti_2 {
  top: 8%;
  right: 23% !important;
}

.confetti_3 {
  bottom: 5%;
  right: 2% !important;
}

.confetti_3 img {
  width: 200px;
}

.confetti_4 {
  bottom: 8%;
  left: 20% !important;
}

.creation_modal {
  background-color: rgba(0, 0, 0, 0.766) !important;
}

.creation_modal_container {
  border: 2px solid #dddddd;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media (max-width: 768px) {
  .confetti img {
    width: 60px;
  }

  .confetti_1 {
    top: 4%;
    left: 2% !important;
  }

  .confetti_2 {
    top: 3%;
    right: 3% !important;
  }

  .confetti_3 {
    bottom: 35%;
    right: 2% !important;
  }

  .confetti_4 {
    bottom: 15%;
    left: 5% !important;
  }
}
